In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('archive (2).zip', compression='zip')
df.drop('index', axis=1, inplace=True)
print(df.shape)
df.head(4)

(1586614, 13)

,brewery_id,brewery_name,review_time,review_overall,review_aroma,review_appearance,review_profilename,beer_style,review_palate,review_taste,beer_name,beer_abv,beer_beerid
0,10325,Vecchio Birraio,1234817823,1.5,2.0,2.5,stcules,Hefeweizen,1.5,1.5,Sausa Weizen,5.0,47986
1,10325,Vecchio Birraio,1235915097,3.0,2.5,3.0,stcules,English Strong Ale,3.0,3.0,Red Moon,6.2,48213
2,10325,Vecchio Birraio,1235916604,3.0,2.5,3.0,stcules,Foreign / Export Stout,3.0,3.0,Black Horse Black Beer,6.5,48215
3,10325,Vecchio Birraio,1234725145,3.0,3.0,3.5,stcules,German Pilsener,2.5,3.0,Sausa Pils,5.0,47969

In [5]:
df.review_overall.value_counts()

4.0    582764
4.5    324385
3.5    301817
3.0    165644
5.0     91320
2.5     58523
2.0     38225
1.5     12975
1.0     10954
0.0         7
Name: review_overall, dtype: int64

Будем предсказывать, к какой из представленных 10 оценок можно отнести пиво.

## Предобработка данных
    Имя столбца         Описание
    ----------------------------------------------------------------------------
    brewery_name	     Название пивоварни
    review_time	      Дата и время рецензирования
    review_overall	   Общая оценка пива рецензентом по шкале от 1 до 5
    review_aroma	     Оценка рецензентом аромата пива по шкале от 1 до 5
    review_appearance    Оценка рецензентом внешнего вида пива по шкале от 1 до 5
    review_profilename   Имя пользователя рецензента
    beer_style	       Стиль пива
    review_palate	    Оценка рецензентом вкуса пива по шкале от 1 до 5
    review_taste	     Оценка рецензентом привкуса пива по шкале от 1 до 5
    beer_name	        Название пива
    beer_abv	         Градус пива

In [8]:
df.isna().sum()

brewery_id                0
brewery_name             15
review_time               0
review_overall            0
review_aroma              0
review_appearance         0
review_profilename      348
beer_style                0
review_palate             0
review_taste              0
beer_name                 0
beer_abv              67785
beer_beerid               0
dtype: int64

In [ ]:
df.drop(['beer_beerid', ''])

In [9]:
df.brewery_name.value_counts()

Boston Beer Company (Samuel Adams)    39444
Dogfish Head Brewery                  33839
Stone Brewing Co.                     33066
Sierra Nevada Brewing Co.             28751
Bell's Brewery, Inc.                  25191
                                      ...
Brauerei Stolz GmbH & Co. KG              1
Hausbrauerei Düll                         1
Browar Grybów                             1
Staro&#269;eský Pivovárek Dobruka        1
Spire Brewery                             1
Name: brewery_name, Length: 5742, dtype: int64

In [11]:
df.beer_abv.value_counts()

5.00     109144
8.00      67744
6.00      65383
7.00      59460
9.00      59183
          ...
7.17          1
7.74          1
17.35         1
3.53          1
0.08          1
Name: beer_abv, Length: 530, dtype: int64